<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <md-card>
                <img ng-src="{{'images/books/' + book.image}}" class="md-card-image" style="height: 350px;">
            </md-card>
        </div>
        <div class="col-md-8">
            <md-card style="height: 350px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="font-size: 20px;">
                            <md-icon md-svg-icon="images/agenda.svg"></md-icon>
                            <strong>Titlu : </strong>{{book.title}}
                        </span>
                        <span class="md-headline" style="font-size: 20px;">
                            <md-icon md-svg-icon="images/shakespeare.svg"></md-icon>
                            <strong>Autor : </strong>{{book.author}}
                        </span>
                        <span class="md-headline" style="font-size: 20px;">
                            <md-icon md-svg-icon="images/numbers.svg"></md-icon>
                            <strong>Numar de pagini : </strong>{{book.pageNumber}}
                        </span>
                        <span class="md-headline" style="font-size: 20px;">
                            <md-icon md-svg-src="images/calendar.svg"></md-icon>
                            <strong>Data aparitiei : </strong>{{book.releaseDateToString}}
                        </span>
                        <span class="md-headline" style="font-size: 20px;">
                            <md-icon md-svg-src="images/folder.svg"></md-icon>
                            <strong>Categorie : </strong>{{book.category.name}}
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="center">
                    <md-button type="submit" aria-label="Eat cake" ng-click="updateBook()" class="md-primary">
                        <md-icon md-svg-src="images/refresh.svg"></md-icon>
                        <span>Actualizare</span>
                    </md-button>
                    <md-button aria-label="Eat cake" ng-click="deleteBook()" class="md-warn">
                        <md-icon md-svg-src="images/delete.svg"></md-icon>
                        <span>Sterge</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div class="col-md-12">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div style="text-align: center; padding-bottom: 30px;">
                        <span class="md-headline">Istoric imprumuturi</span>
                    </div>
                    <div layout="row">
                        <div>
                            <md-input-container class="md-block">
                                <md-icon md-svg-icon="images/users_2.svg"></md-icon>
                                <label for="title">Nume</label>
                                <input id="title" name="title" ng-model="lastName" minlength="3" maxlength="30">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container class="md-block">
                                <md-icon md-svg-icon="images/user.svg"></md-icon>
                                <label for="author">Prenume</label>
                                <input id="author" name="author" ng-model="firstName" minlength="3" maxlength="30">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container class="md-block" flex-gt-sm>
                                <md-icon style="position:absolute; left:15px"
                                         md-svg-src="images/calendar.svg"></md-icon>
                                <label>Data de inceput</label>
                                <md-datepicker required name="releaseDate" ng-model="startDate"
                                               md-max-date="maxDate"></md-datepicker>
                                <div class="validation-messages" ng-messages="bookForm.releaseDate.$error">
                                    <div ng-message-exp="['required', 'maxdate']">
                                        Introduceti o data valida !
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container class="md-block" flex-gt-sm>
                                <md-icon style="position:absolute; left:15px"
                                         md-svg-src="images/calendar.svg"></md-icon>
                                <label>Data de sfarsit</label>
                                <md-datepicker required name="releaseDate" ng-model="endDate"
                                               md-max-date="maxDate"></md-datepicker>
                                <div class="validation-messages" ng-messages="bookForm.releaseDate.$error">
                                    <div ng-message-exp="['required', 'maxdate']">
                                        Introduceti o data valida !
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div>
                            <md-button class="md-fab button-search" aria-label="Eat cake" ng-click="searchBorrow()">
                                <md-icon md-svg-src="images/search.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div ng-if="borrows.length != 0">
                        <table class="table table-condensed table-bordered librery-table">
                            <thead>
                            <tr>
                                <th>Nume</th>
                                <th>Prenume</th>
                                <th>Data de inceput</th>
                                <th>Data de sfarsit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="borrow in borrows"
                                ng-class="borrow.borrowed ? (currentDate <= borrow.endDate ? 'warning' : 'danger'):'success'">
                                <td>{{borrow.subscriber.lastName}}</td>
                                <td>{{borrow.subscriber.firstName}}</td>
                                <td>{{borrow.startDateToString}}</td>
                                <td>{{borrow.endDateToString}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="borrows.length == 0">
                        <h1>Nici un rezultat !</h1>
                    </div>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</div>