<div class="container">
    <div class="row">
        <div class="col-sm-6 login-container">
            <div class="employer-login">
                <div class="text-center employer-login-header">User</div>
                <div class="login-body">
                    <form role="form" ng-submit="userLogin()">
                        <div class="login-input">
                            <md-input-container>
                                <label for="userEmail">Email</label>
                                <input id="userEmail" ng-model="user.email" type="email" required>
                                <span ng-show="userAuthenticationError" class="help-block login-alert">
                                    Please check your credentials and try again.
                                </span>
                            </md-input-container>
                        </div>
                        <div class="login-input">
                            <md-input-container>
                                <label for="userPassword">Password</label>
                                <input id="userPassword" ng-model="user.password" type="password" required>
                            </md-input-container>
                        </div>
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary employer-btn">Log in</md-button>
                        </div>
                    </form>
                </div>
                <div class="text-center login-footer">
                    <md-button ng-click="navigateTo('/register/user')">Create Account</md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success" ng-show="isCreated">
        Your account has been created now you can login in this awesome application ! ;-)
    </div>
</div>