@import "components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/bootstrap-sass/assets/stylesheets/bootstrap/theme";
@import "components/angular-material/angular-material.scss";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility: hidden;
}

.ng-anchor {
  position: absolute;
}

html, body, .body-background {
  background-color: #EFEFEF !important;
}

.img-size,
.size-full {
  height: 100%;
  width: 100%;
}

.login-container {
  margin-top: 50px;
}

.login {
  width: 90%;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.login-body {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-header {
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
}

.login-footer {
  padding-bottom: 20px;
  font-size: 15px;
}

.login-input md-input-container {
  width: 100%;
  font-size: 15px;
}

.login-alert {
  color: red;
}

.logo {
  font-size: 33px;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 5px;
  background-color: white;
}

div.nav-item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  color: white !important;
}

div.nav-item md-icon {
  color: white !important;
}

span.nav-caption {
  display: block;
}

.md-nav-bar {
  height: 60px !important;
}

.view {
  height: 100%;
}

.user-menu {
  padding: 15px;
  margin-top: -10px;
  margin-right: -5px;
  padding-right: 30px;
  color: white;
}

.user-name {
  padding-right: 10px;
  padding-left: 10px;
}

.user-img-menu {
  height: 50px;
  border-radius: 10px;
  border: 3px solid #FFFFFF;
}

.new-post,
.change-post,
.delete-post {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
  0 13px 19px 2px rgba(0, 0, 0, 0.14),
  0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}

.new-post-container,
.change-post-container {
  width: 100%;
  padding: 15px;
}

.new-post-label,
.change-post-label,
.new-book-fields {
  width: 100%;
}

.new-post-map,
.change-post-map {
  height: 300px;
  width: 100%;
}

div.home-user {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.post-details {
  height: 350px;
}

.post-details-card {
  height: 100%;
}

.map-margin {
  margin-top: 8px;
}

.applications {
  padding-left: 8px;
}

.applications md-toolbar {
  margin-top: 30px;
}

.reviews {
  margin-top: 10px;
}

.md-list-item-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.approve-button:hover > md-icon,
.checkmark1 > md-icon {
  color: green;
}

.delete-button:hover > md-icon,
.cross2 > md-icon {
  color: red;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;

  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #fd0;
  }
}

.btn-pay,
.btn-pay:hover {
  color: #fff !important;
  background-color: #419641;
  border-color: #5cb85c;
}

#container,
#container1 {
  width: 100px;
  height: 100px;
  position: relative;
}

.login-title {
  font-size: 30px;
  text-align: center;
}

.menu-button {
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

.menu-button span {
  padding-left: 10px;
  font-size: 15px;
}

.logout {
  position: absolute;
  bottom: 0;
}

.button-add,
.button-search {
  padding: 0;
  height: 50px !important;
  width: 50px !important;
  background-color: rgb(255, 255, 255) !important;
}

.circle-button {
  padding: 0;
}

.button-add md-icon,
.circle-button md-icon {
  height: 100%;
  width: 100%;
}

.close-button {
  right: 0;
  margin-right: 25%;
  position: absolute;
}

.confirm-button {
  margin-left: 25%;
}

.md-datepicker md-icon {
  color: rgba(0, 0, 0, 0) !important;
}

.md-datepicker-calendar-icon {
  fill: rgba(0, 0, 0, 0) !important;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  padding: 0;
  margin-left: 0;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.search-menu {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  width: 76%;
  right: 15px;
  top: 0;
}

.book-content {
  margin-top: 100px;
}

.search-menu-container md-toolbar {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.search-menu div {
  width: 100%;
}

.search-menu md-input-container {
  margin-bottom: 0;
  padding-right: 20px;
}