<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4" style="height: 100%;">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Nume Biblioteca</h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-button class="md-primary" ng-click="goTo('/user/home')">Acasa</md-button>
        <br>
        <md-button class="md-primary" ng-click="goTo('/user/books')">Carti</md-button>
        <br>
        <md-button class="md-primary" ng-click="goTo('/user/subscribers')">Abonati</md-button>
        <br>
        <md-button class="md-primary" ng-click="goTo('/user/settings')">Setari</md-button>
        <br>
        <md-button class="md-primary" ng-click="logout()">Logout</md-button>
    </md-content>
</md-sidenav>