<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div style="text-align: center;">
                            <span class="md-headline">Adauga categorie</span>
                            <md-button class="md-fab button-add" aria-label="Eat cake">
                                <md-icon md-svg-src="images/plus.svg"></md-icon>
                            </md-button>
                        </div>
                        <div>
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Nr</th>
                                    <th>Nume</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Romance</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mistery</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Horror</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Children</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Science</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-card-title-text>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <div class="col-md-6">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div style="text-align: center;">
                            <span class="md-headline">Schimba Informatii</span>
                        </div>
                        <div class="login-input">
                            <md-input-container>
                                <md-icon md-svg-icon="images/email.svg"></md-icon>
                                <label for="userEmail">Email</label>
                                <input id="userEmail" ng-model="change.email" type="email" required>
                                <span ng-show="userAuthenticationError" class="help-block login-alert">
                                        Va rugam sa verificati cu atentie adresa de email.
                                </span>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <md-icon md-svg-icon="images/library.svg"></md-icon>
                                <label for="name">Numele Bibliotecii</label>
                                <input id="name" required name="name" ng-model="change.name"
                                       minlength="3" maxlength="30" ng-pattern="/^[ a-zA-Z]+$/">
                                <div ng-messages="userForm.name.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength','pattern']">
                                        Trebuie sa contina doar litere.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="center">
                    <md-button md-no-ink class="md-primary">
                        <md-icon md-svg-icon="images/refresh.svg"></md-icon>
                        Schimba
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div class="col-md-6">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div style="text-align: center;">
                            <span class="md-headline">Schimba Parola</span>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <md-icon md-svg-icon="images/key.svg"></md-icon>
                                <label for="old_password">Vechea Parola</label>
                                <input id="old_password" name="password" ng-model="library.password" type="password"
                                       required
                                       minlength="10" maxlength="30">
                                <div ng-messages="userForm.password.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Parola trebuie sa fie intre 10 si 30 de caractere.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <md-icon md-svg-icon="images/key.svg"></md-icon>
                                <label for="password">Noua Parola</label>
                                <input id="password" name="password" ng-model="library.password" type="password"
                                       required
                                       minlength="10" maxlength="30">
                                <div ng-messages="userForm.password.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Parola trebuie sa fie intre 10 si 30 de caractere.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <md-icon md-svg-icon="images/key.svg"></md-icon>
                                <label for="repeatPassword">Repetati noua parola</label>
                                <input id="repeatPassword" name="repeatPassword" ng-model="library.repeatPassword"
                                       type="password" required minlength="10" maxlength="30"
                                       ng-match="library.password">
                                <div ng-messages="userForm.repeatPassword.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Parola trebuie sa fie intre 10 si 30 de caractere.
                                    </div>
                                    <div ng-message="match">
                                        Cele doua parole nu sunt identice.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="center">
                    <md-button md-no-ink class="md-primary">
                        <md-icon md-svg-icon="images/refresh.svg"></md-icon>
                        Schimba
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div class="col-md-6">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div style="text-align: center;">
                            <span class="md-headline">Sterge Cont</span>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <md-icon md-svg-icon="images/key.svg"></md-icon>
                                <label for="old_password">Parola</label>
                                <input id="delete_password" name="password" ng-model="library.password" type="password"
                                       required
                                       minlength="10" maxlength="30">
                                <div ng-messages="userForm.password.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Parola trebuie sa fie intre 10 si 30 de caractere.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="center">
                    <md-button aria-label="Eat cake" class="md-warn">
                        <md-icon md-svg-src="images/delete.svg"></md-icon>
                        <span>Sterge</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>